page-home {
  .header{
    text-align: center;
    font-size: 50px;
    margin-top: 20%;
    font-weight: bolder;
    

  }

  .displayOption{
    //display: none;
    transform:translateX(110%);
    top: 76px;
    position: absolute;
    left: inherit;
  }

  .selectedPlayer{
    //display: none;
    background-color: wheat;
    transform:translateY(-800%);
    top: 50%;
    position: absolute;
    text-align: -webkit-center;
    left: inherit;
    height: 35%;
    //padding-top: 30px;;
   
  }
}
